## Coding Exercise #0103

### 1.Lists:

#### 1.1. Creating List:

In [66]:
x=[1,3,True,False,'hello',[4,5,6]]
type(x)

list

In [67]:
# a range 
range(1,5)

range(1, 5)

In [68]:
# a range cast as list
x=list(range(1,5))
x

[1, 2, 3, 4]

In [69]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [70]:
list(range(0,21,5))

[0, 5, 10, 15, 20]

#### 1.2. Indexing and slicing lists:

In [71]:
x=[1,2,['life','is']]
x[1]

2

In [72]:
x[2]

['life', 'is']

In [73]:
x[2][1]

'is'

In [74]:
x=[1,2,3,['a','b','c'],4,5]
x[2:5]

[3, ['a', 'b', 'c'], 4]

In [75]:
x[3][:2]

['a', 'b']

#### 1.3.operations with lists

In [76]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [77]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### 1.4. Changing list content:

In [78]:
x=[1,2,3]
x[1]=-1
x

[1, -1, 3]

In [79]:
x[1:3]=[3,5,7,9,11]
x

[1, 3, 5, 7, 9, 11]

lets distenguish the following cases:

In [80]:
# Replace part of a list.
x = [1, 2, 3]
x[1:2] = [-1, -2, -3]
x

[1, -1, -2, -3, 3]

In [81]:
# List a particular element of the list.
x = [1, 2, 3]
x[1] = [-1, -2, -3]
x

[1, [-1, -2, -3], 3]

#### 1.5.deleting part of list:

In [82]:
x=[1,2,3,4,5]
x[1:3]=[]
x

[1, 4, 5]

In [83]:
x=[1,2,3,4,5]
del x[2]
x

[1, 2, 4, 5]

#### 1.6. Functions and methods for list objects:

In [84]:
x=[2,4,6,8,10]
len(x)

5

In [85]:
x=[1,2,3]
x.append(4)
x.append([5,6])
x

[1, 2, 3, 4, [5, 6]]

In [86]:
x=[1,2,3,4,5]
x.reverse()
x

[5, 4, 3, 2, 1]

In [87]:
# sort methods
x=[3,5,2,4,1]
x.sort()
x

[1, 2, 3, 4, 5]

In [88]:
x=[4,3,5,1,2]
x.sort(reverse=True)
x

[5, 4, 3, 2, 1]

In [89]:
# The function sorted() just returns a view without changing the list permanently.
x=[4,3,5,2,1]
sorted(x)

[1, 2, 3, 4, 5]

In [90]:
x

[4, 3, 5, 2, 1]

## 2.Tuple:

#### 2.1.Creating Tuples:

In [91]:
x = (1, 3, True, False, 'Hello', [3,5,7])
type(x)

tuple

In [92]:
# A range cast as tuple.
x = tuple(range(1,5))
x

(1, 2, 3, 4)

#### 2.2. Indexing and slicing tuples:

In [93]:
x=(1,2,('life','is'))
x[2]

('life', 'is')

In [94]:
x[2][1]

'is'

In [95]:
x=(1,2,3,['a','b','c'],4,5)
x[3][:2]

['a', 'b']

#### 2.3. Operations with tuples:

In [96]:
a=(1,2,3)
b=(4,5,6)
a+b

(1, 2, 3, 4, 5, 6)

In [97]:
a*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

### 3. Dictionary:

#### 3.1. Creating dictionaries:

In [98]:
d = {'x':[1,2,3], 'y':[4,5,6]}

In [99]:
d['x']

[1, 2, 3]

In [100]:
d['y']

[4, 5, 6]

#### 3.2. Adding key-value pairs, deletion, update:

In [101]:
d={}
d['name']='john'
d['gender']='male'
d['age']='23'
d

{'name': 'john', 'gender': 'male', 'age': '23'}

In [102]:
del d['age']
d

{'name': 'john', 'gender': 'male'}

In [103]:
d['name']='andrew'
d

{'name': 'andrew', 'gender': 'male'}

#### 3.3. Dictionary methods and operations:

In [104]:
d.keys()

dict_keys(['name', 'gender'])

In [105]:
d.values()

dict_values(['andrew', 'male'])

In [106]:
d.items()

dict_items([('name', 'andrew'), ('gender', 'male')])

In [107]:
d.clear()
d

{}

In [108]:
d = {'name': 'John', 'gender': 'Male', 'age': 23} 
d.get('wage', 0)

0

In [109]:
# Check whether 'name' is a key of d.
'name' in d

True

In [110]:
# Check whether 'wage' is a key of d.
'wage' in d

False

### 4. Set:

#### 4.1. Creating a set:

In [111]:
b=set([1,2,3,3,3,3,4,5])
b

{1, 2, 3, 4, 5}

#### 4.2.operation with sets:

In [112]:
s1= set([1,2,3,4,5])
s2=set([4,5,6,7,8])
s1&s2

{4, 5}

In [113]:
s1.intersection(s2)

{4, 5}

In [114]:
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [115]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [116]:
s1-s2

{1, 2, 3}

In [117]:
s1.difference(s2)

{1, 2, 3}

In [118]:
a=set([1,2,3,4,5,])
a.add(6)
a

{1, 2, 3, 4, 5, 6}

In [119]:
a.update([7,8,9])
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [120]:
a.remove(9)
a

{1, 2, 3, 4, 5, 6, 7, 8}